<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="url" value="https://www.demoblaze.com/index.html"></parameter>
	<parameter name="browsers" value="chrome"></parameter>
	<parameter name="filename" value="data"></parameter>
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.demo.test.TC001Home"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
